<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <title>SSTest</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" href="../images/sstestIcon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
</head>
<body>
    <h2 style="color: white;">You have reached a dead end on this path</h2>
    <h3 style="color: white">Remember, The BOSS is always Right.</h3>
    <form action="/dead" method="post">
        <button type="submit" class="submitBtn" name="username" value="<%= username %>">Go Back</button>
    </form>
</body>
</html>