<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SSTest</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" href="../images/sstestIcon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
</head>

<body>

  <!-- <a href="" class="lgn-leader">View Leaderboard</a> -->

  <h2 style="color:white">General Instructions</h2>
  <div class="instructions">
    <ul style="text-align: left;">
      <li>This puzzle is to test your soft skills like eye for detail and time management skills.</li>
      <li>Make sure to pay attention on every detail during puzzle solving.</li>
      <li>The overall aim of this game is to solve different tasks to find the treasure in the end.</li>
      <li>For your help, each task is provided with a clue. Use them only if you are stuck at some point.</li>
      <li>The final score will be evaluated based on the time taken to reach the treasure and number of attempts for each task.</li>
    </ul>
  </div>

  <form action="/start" method="post">
    <button class="startBtn" name="username" value="<%= username %>">Start</button>
  </form>

</body>

</html>