<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <title>SSTest</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" href="../images/sstestIcon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
</head>
<body>
    <div class="trDiv">..</div>
    <p class="tr">Go to BR</p>
    <button class="clue">Get Clue</button>
    <h2 style="color: white;">Task 3</h2>
    <div class="ques">
        <h3>Follow following to solve this task</h3>
        <h4>Go to TR of webpage</h4>
    </div>
    <form action="/right/task3" method="post">
        <input type="text" name="rq3_ans" id="rq3-ans" class="ansBox" placeholder="Enter your answer" autocomplete="off" required><br>
        <p class="incorrectMsg"><%= msg %></p>
        <button type="submit" class="submitBtn" name="username" value="<%= username %>">Next Task</button>
      </form>
    <p class="clueMsg">CLUE : This is BL of webpage.</p>
    <div class="brDiv">..</div>
    <p class="br">Sanjay Dutt's name in KGF2</p>  

    <script src="../js/q.js"></script>
</body>
</html>