<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <title>SSTest</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" href="../images/sstestIcon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
</head>
<body>
    <button class="clue">Get Clue</button>
    <h2 style="color: white;">Task 4</h2>
    <div class="ques">
        <h3>Who is the actress in the movie with given dialogue(only first name)</h3>
        <audio src="../audio/rq4.mp3" controls></audio>
    </div>
    <form action="/right/task4" method="post">
        <input type="text" name="rq4_ans" id="rq4-ans" class="ansBox" placeholder="Enter your answer" autocomplete="off" required><br>
        <p class="incorrectMsg"><%= msg %></p>
        <button type="submit" class="submitBtn" name="username" value="<%= username %>">Next Task</button>
      </form>
    <p class="clueMsg">CLUE : Wife of Ranveer Singh</p>

    <script src="../js/q.js"></script>
</body>
</html>